extends ../layout

block content
    h1 New Book
    form(action="/books", method="POST")
      if errors.length > 0
        h2.error Oooops!
        ul.error
          each error in errors
            li= error.message
      p
        label(for="title") Title
        input(type="text", name="title", id="title", placeholder="Field Required")
      p
        label(for="author") Author
        input(type="text", name="author", id="author", placeholder="Field Required")
      p
        label(for="genre") Genre
        input(type="text", name="genre", id="genre")
      p
        label(for="year") Year
        input(type="text", name="year", id="year")
      p
        input(type="submit", value="Create New Book")
      p
        a.button(href="/") Cancel