/* Define general styling for the body of the webpage */
body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
  color: white;
  background-color: #0C0C0B; 
}

/* Style hyperlinks (anchor tags) */
a {
  color: #FFF100;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

/* Style link hover effect */
a:hover {
  color: #66621F;
}

/* Custom CSS to position elements side by side */
div {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align elements to the left */
}

.button {
  margin-right: 10px; /* Add spacing between the button and search bar */
}

/* Style buttons and submit inputs */
a.button, input[type=submit] {
  text-align: center;
  margin-right: 50px;
  color: #0C0C0B;
  background: #FFF100;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 12px 0; /* Set 12px padding for top and bottom, and 0 for left and right */
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block; /* Change display property to inline-block */
  min-width: 150px; /* Set the minimum width */
}

/* Style buttons within forms and submit inputs with hover effect */
form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
  color: #0C0C0B;
  background: #FFF100;
}

/* Style submit inputs */
input[type=submit] {
  min-width: 150px;
  font-weight: bold;
  border: 0;
}

/* Apply a hover effect to buttons and submit inputs */
a.button:hover, input[type=submit]:hover {
  background-color: #66621F;
  min-width: 150px !important; /* Set the minimum width for buttons with class 'button' */
}

/* Define styling for search button */
.search-button {  
  text-align: center;
  margin-right: 10px;
  color: #0C0C0B;
  background: #FFF100;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 12px 0; /* Set 12px padding for top and bottom, and 0 for left and right */
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block; /* Change display property to inline-block */
  min-width: 150px; /* Set the minimum width */
  font-weight: bold;
  border: 0;
  margin-left: 20px;
}

/* Define styling for paragraphs */
p {
  margin: 20px;
}

/* Define styling for unordered lists */
ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

/* Style for section headings (h2) */
h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

/* Style table headers (th) */
th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

/* Style table rows (tr) */
tr {
  min-height: 50px;
}

/* Apply background color to alternate table rows */
tr:nth-child(2n) {
  background: #3E3F42;
}

/* Style table data cells (td) */
td {
  padding: 5px 20px 5px 10px;
}

/* Style labels for form fields */
label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

/* Style form input elements */
input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

/* Style text input fields */
input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.pagination {
  display: flex;
}

.page-info {
  margin: 0 20px; /* Add spacing here */
}

.page-numbers {
  list-style-type: none;
  display: flex;
}

.page-number {
  margin: 0 5px; /* Add spacing here */
}

/* Style error messages */
.error {
  color: rgb(236, 15, 15);
}
